<ul class="pagination">
    {{#pager}}
	    <li class="active"><a href="{{#linkPrams 1}}{{/linkPrams}}">1</a></li>
	    <li><a href="{{#linkPrams 2}}{{/linkPrams}}">2</a></li>
	    <li><a href="{{#linkPrams 3}}{{/linkPrams}}">3</a></li>
    {{/pager}}
</ul>